header > h1 {
width: 500px;
padding: 10px;
border: 25px solid red;
margin: 50px;
}
li {
width: 1000px;
padding: 10px;
border: 5px dashed red;
margin: 10px;
height: px;
}
main > p {
width: 1000px;
padding: 20px;
border: 30px dotted #00ff00;
margin: 20px;
height: 95px;
background-color:yellow;
}
h2 {
width: 600px;
padding: 30px;
border: 20px dashed #00ffff;
margin: 20px;
height: 100px;
}
main + footer {
width: 400px;
padding: 30px;
border: 30px solid #0000ff;
margin: 30px;
height: 20px;
}
