@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
background-image:url(../final/images/brandlogo.jpg)
}
h1 {
color:black;
background-color:white;
font-family:Lobster;
margin:auto;
width:300px;
}
li {
color:black;
background-color:white;
border-style:solid;
border-color:black;
border-width:3px;
border-bottom-style:groove;
font-family:Oswald;
margin:auto;
width:250px;
padding-left:5px;
padding-bottom:5px;
}
h2 {
margin-left:700px;
border-style:groove;
border-color:black;
width:200px;
}
nav {
float:left;
background-color:white;
clear:left;
}
footer {
color:White;
background-color:black;
border-top-style:groove;
border-bottom-style:inset;
border-color:black;
width:350px;
margin:auto;
}
img {
float:center;
margin-left:auto;
margin-right:auto;
}
