header {
	font-family:arial;
	color:red;
	font-size:50px
}
h1 {
	font-family:verdana;
	color:blue;
	font-size:40px;
}
nav {
	font-family:Times New Roman;
	color:purple;
	font-size:30px;
}
main {
	font-family:arial;
	color:purple;
	font-size:30px;
}
h2 {
	font-family:consolas;
	color:green;
	font-size:40px;
}
p {
	font-family:arial;
	color:orange;
	font-size:30px;
	background-color:yellow;
	border:solid 1px #blue;
